.main-section{
	background-color: #08c;
	background: url(assets/your_verse_hero_2x.jpg) 50% 100% no-repeat;
	background-size: 100%;
	height: 600px;
	max-width: 1440px;
}

.a1{
	font-size: 65px;
}
.a2{
	font-size: 40px;
	text-align: center;

}
.a3{
	font-size: 25px;
}
li{
	list-style: none;
}


.navbar-items
{
	display: table-cell;
	height: 30px;
    background-color:#747474;
    width: 100px;
    overflow: hidden;
    font-size: 20px;
    border-right: 1px solid rgb(77, 76, 76);
    background:linear-gradient(#5E5E5E,#898989);

}

.footer-div a{
	color: black;
}
a{
	text-decoration: none;
	color: white;
}

main ul {
    list-style-type: none;
    margin: 200px 20px auto 0;
  
}
.right{
	float: right;
    padding-top: 1.5em;
    text-align: right;
    font-size: .8334em;

}
.left{
	margin-left: 80px;
	float: left;
    clear: both;
    width: 49%;
    padding-top: 1.5em;
    text-align: left;
	font-size: .8334em;
}

.copyright{
/*	display: flex;
*/	font-size: .8334em;
	position: relative;
	margin-top:-50px;

}

.footer-div li,.copyright li{
	display: inline-block;
}
.promos{
	display: flex;
}
.promos ul{
	padding: 0;
	margin: 0;
}

.promos li{
	    display: inline;
/*	    width:25%; 
*/
}
.navbar ul {
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    height: 100%;
}

.navbar{
	margin-left: 150px;
	align-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    width: 100%;
}

.center-container{
	align-content: center;
	text-align: center;
	margin-top: 100px;
}
.fa-search{
	position: absolute;
	margin-top: 0;
	right: 350px;
	color: white;
}
.search-input{
	border-radius: 5px;
	margin: 0 auto;
	background-color: #6F6F6F;
	border-color: #6F6F69;
	position: relative;
}
#global-nav{
	display:block;
	border-radius: 5px;

}
